#root {
  margin: 10px;
}

.searchComponent_bookName {
  margin: 5px;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.searchComponent_chapter {
  width: 60px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.searchComponent_submitRequest {
  width: 50px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.chapterComponent__zoom {
  cursor: pointer;
  border-radius: 10px;
  border-width: 0.5px;
  border-style: solid;
}

.cno {
  font-size: 25px;
  display: inline;
}

[id="1"] {
  display: inline;
}

/**
[id="1"]>:first-child:before{
	content: "1";
}
**/
.v {
  padding: 5px;
}

.v > :first-child {
  margin-right: 10px;
}

.redtxt {
  color: crimson
}

.spinner-img {
  width: 50px;
  pointer-events: none;
  margin: 50px calc(50% - 50px);
  animation: spinner-image-spin infinite 1s linear;
}

@keyframes spinner-image-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.prevNextComponent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.prevNextComponent_prevNext,
.prevNextComponent_prevNext {
  display: flex;
  flex-direction: column;
}

.footerComponent {
  padding: 2%;
  display: flex;
  border-width: 1.5px;
  flex-direction: column;
  border-color: rgb(5, 95, 130);
}